 <!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 
 
 <div class="container">
  <h2>Deals On Wheels</h2>
  <p>Let the market show you how to buy a better car</p>
  

  

<div class="container">
  <!-- The .dropdown class is used to indicate a dropdown menu. --> 
  <!-- Use the .dropdown-menu class to actually build the dropdown menu. --> 
  <!-- To open the dropdown menu, use a button or a link with a class of .dropdown-toggle and data-toggle="dropdown". -->                                           
  <div class="dropdown">

<div class="btn-group dropleft">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Make
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>

<div class="btn-group dropleft">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Model
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
    
  </div>
</div>


<!-- Trying to create a drop down menu with items from a .csv  --> 

<body>
  <script src="http://d3js.org/d3.v3.js"></script>
  <script>
  d3.csv("../data/depreciation/depreciation_all_models/fit_data_6_clean.csv", function(error, data) {
    var select = d3.select("body")
      .append("div")
      .append("select")

    select
      .on("change", function(d) {
        var value = d3.select("Toyota").property("Make");
        alert(value);
      });

    select.selectAll("option")
      .data(data)
      .enter()
        .append("option")
        .attr("Make", function (d) { return d.value; })
        .text(function (d) { return d.label; });
  });
  </script>
</body>  





</body>
</html>

 
 
 
 
 
 


   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>

   </body>
</html>